#cd{
  font-size: 40px;
  font-weight: 1000;
  position: absolute;
  top: 40%;
  left: 0%;
  font-family: arial;
  
}
#countdown{
  color: red;
}
#dbtn{
  height: 40px;
  width: auto;
  font-family: Arial;
  font-size: 24px;
}